






.<div class="container mt-5">
    <div class="container ">
        <div class="row my-2 d-flex justify-content-center">
            <div class="col-10">
                <form class="border border-5 p-5 border" [formGroup]="EmployeeForm" (ngSubmit)="onSubmit()">
                    <!-- Email input -->
                    <h3 class="text-center">
                        Register New Employee
                    </h3>
                    <p class="text-center my-3">
                        Please Enter All required feilds for employee registration
                    </p>
                    <div class="row my-2">
                        <div class="col">
                            <label for="firstname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstname" formControlName="Firstname">
                        </div>
                        <div class="col">
                            <label for="lastname" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastname" formControlName="LastName">
                        </div>
                        <div class="col-2">
                            <label for="empid" class="form-label">Employee Id</label>
                            <input  type="number" class="form-control" readonly id="empid" formControlName="EmpID" >
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4">
                            <label class="form-label" for="email">Email address</label>
                            <input type="email" id="email" class="form-control" formControlName="Email"/>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="Password">Password</label>
                            <input type="password" id="Password" class="form-control" formControlName="Password"/>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="HireDate" >Hire date</label>
                            <input type="date" id="HireDate" class="form-control" formControlName="HireDate"/>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-3">
                            <label class="form-label" for="phonenumber">Phone number</label>
                            <input type="text" id="phonenumber" class="form-control" formControlName="Phonenumber" placeholder="+1 (xxx)-xxx-xxx" />
                        </div>
                        <div class="col">
                            <label class="form-label" for="address">Address</label>
                            <input type="text" id="address" class="form-control" formControlName="Address" />
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4">
                            <label class="form-label" for="role">Position/Role</label>
                            <select class="form-select" formControlName="Role">
                                <option selected disabled>select employee Position</option>
                                <option value="DEVELOPER">DEVELOPER</option>
                                <option value="SENIOR_DEVELOPER">SR DEVELOPER</option>
                                <option value="MANAGEMENT">MANAGEMENT</option>
                                <option value="BUSINESS_ANALYST">BUSINESS ANALYST</option>
                                <option value="QUALITY_ANALYST">QUALITY ANALYST</option>
                                <option value="CLEANING">Teaster</option>
                                <option value="ADMIN">Admin</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="salary">Salary per hour</label>
                            <input type="number" id="salary" class="form-control"  formControlName="Salary"/>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="status">Status</label>
                            <select class="form-select" aria-label="Default select example" formControlName="Status">
                                <option selected disabled>select Employee status</option>
                                <option value="ACTIVE">ACTIVE</option>
                                <option value="INACTIVE">INACTIVE</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-2 mt-3">
                        <button type="submit" class="btn btn-primary btn-block mb-4 ">Add Employee</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>